@use 'reset';
@use 'vars';

// Theme variables
:root {
}

// Global styles
::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  background: vars.$mainBackgroundColor;
}

body {
  font-family: vars.$fontFamily;
  font-size: vars.$fontSize;
  color: var(--textColor);
  background-color: var(--bgColor);
}

.container {
  max-width: vars.$maxWidthContainer;
  margin: 0 auto;
  padding: vars.$containerPadding;
}

.icon * {
  fill: var(--textColor);
}

.link {
  color: var(--textColor);
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}
