@use 'reset';
@use 'vars';

// Theme variables
:root {
}

// Global styles
::-webkit-scrollbar {
  display: none;
}

html {
  min-height: 100%;
  background: vars.$mainBackgroundColor;
}

body {
  font-family: vars.$fontFamily;
  font-size: vars.$fontSize;
  color: vars.$textColor;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14.6875rem;
  padding-bottom: 9.375rem;
}

.container {
  max-width: vars.$maxWidthContainer;
  margin: 0 auto;
  padding: vars.$containerPadding;
}

.h2 {
  font-family: vars.$fontFamilySecond;
  font-size: 5rem;
  line-height: 137%;
  max-width: 51.875rem;
}

.desc {
  line-height: 187%;
  color: vars.$descColor;
}

.icon * {
  fill: var(--textColor);
}

.link {
  color: var(--textColor);
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}
